body {
  background: #fcad0f;
  height:100vh;
  width:100vw;
}

/*Formatting*/
.top {
  height:calc(100vh/3);
  width:100vw;
  display:flex;
}

.mid {
  height:calc(100vh/3);
  width:100vw;
  display:flex;
}

.bottom {
  height:calc(100vh/3);
  width:100vw;
  display:flex;
}

.subdiv{
  height:calc(100vh/3);
  width:calc(100vw/3);
}

.img_left{
	content:url(half-ellipses-hi.png);
	float:right;
	max-width:100%;
	max-height:100%;
}

.img_right{
	content:url(half-ellipses-hi.png);
	float:left;	
	max-width:100%;
	max-height:100%;
	-webkit-transform: rotate(180deg);
}

.img_bottom{
	content:url(half-ellipses-hi.png); 
	max-width:100%;
	max-height:100%;
	-webkit-transform: rotate(270deg);
}

.img_top{
	content:url(half-ellipses-hi.png);
	-webkit-transform: rotate(90deg);
	max-width:100%;
	max-height:100%;
}

/*Mobile layout*/
@media only screen and (max-width: 1024px){
	.img_right{
		content:none;
	}
	
	.img_left{
		content:none;
	}
	
	.img_bottom{
		content:none;
	}

	.img_top{
		content:none;
	}
}

/*Shapes*/
#hex1 {
  height: 180px;
  width: 408px;
  z-index: 2;
}

#hex2 {
  height: 170px;
  position: absolute;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
   -o-transform:rotate(90deg);
      transform:rotate(90deg);
  width: 170px;
  z-index: 4;
}

#hex3 {
  width: 200px;
  height: 200px;
  position:absolute;
  z-index:3;
}

#hex4 {
 height: 145px;
  position: absolute;
  width: 145px;
  z-index: 6;
}

#hex5 {
    height: 122px;
    position: absolute;
    width: 100px;
    z-index: 6;
    opacity:0.8;
        transform:rotate(90deg);
}

#hex6 {
  position: absolute;
  z-index: 8;
}

#color0 {
  background-color: #e7d222;
}

#color1 {
  background-color: #7C1000; 
}

#color2 {
  background-color: #024B00;
}

#color3 {
  background-color: #E28200;
}

#color4 {
  background-color: #D6720F;
}

#color5 {
  background-color: #7C1000;
}

#color6 {
  background-color: #E28200;
}

.center-horizontal{
  display: flex;
	align-items:center;
}

.center-vertical{
  display: flex;
	justify-content: center;
	height: inherit;
}

.hexagon-wrapper {
  text-align: center;
  position: relative;
  display: inline-block;
}

.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
}

.circle {
  -webkit-border-radius:50%;
   -moz-border-radius:50%;
        border-radius:50%;        
  display: block;
  height: 80px;
  width: 80px;
  z-index:1;
}

.circle_3{
  -webkit-border-radius:50%;
   -moz-border-radius:50%;
        border-radius:50%;        
  display: block;
  height: 200px;
  width: 200px;
  z-index:1;
}

.circle_4{
  -webkit-border-radius:50%;
   -moz-border-radius:50%;
        border-radius:50%;        
  display: block;
  height: 200px;
  width: 200px;
  z-index:1;
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  -webkit-transform:rotateZ(60deg);
   -moz-transform:rotateZ(60deg);
    -ms-transform:rotateZ(60deg);
     -o-transform:rotateZ(60deg);
        transform:rotateZ(60deg);
}

.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  -webkit-transform:rotateZ(-60deg);
   -moz-transform:rotateZ(-60deg);
    -ms-transform:rotateZ(-60deg);
     -o-transform:rotateZ(-60deg);
        transform:rotateZ(-60deg);
}
